# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
.env.local
.env.*.local

# Log files
*.log

# Environment variables
.env

# IDE files
.idea/
.vscode/

# Compiled Python files
*.pyc

# Virtual environment
venv/

# Dependency directories
flaskr.egg-info/
dist/
build/
migrations/

# Other files
.DS_Store
*.sqlite3